configuration {
    display-drun: "Applications:";
    display-window: "W";
    display-run: "R";
    drun-display-format: "{name}";
    font: "Hurmit Nerd Font Mono";
    modi: "drun,window,run";
}
@theme "~/.config/rofi/theme.rasi"
